// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_select {
  border: 0;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 200px;
  background: white;
  -webkit-appearance: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}